:root {
    --font-inter: 'Inter', sans-serif;
    --font-coolvetica: 'Coolvetica Rg';
    --bg-color: #FFF8EE;
    --button-color: #F93209;
    --text-color: #1A1A1A;
    --burger-color: #833B2D;
    --button-text: #ffffff;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-coolvetica);
}

.header, .main, .footer {
    background-color: var(--bg-color);
}
.header-wrapper, .main-wrapper, .footer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-wrapper, .nav-list-item {
    margin-right: 40px;
}
.img-wrapper {
    margin-left: 70px;
}

.button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-family: var(--font-coolvetica);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logIn-button {
    margin-right: 44px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    z-index: 2;
    transition: 0.3s;
}
.logIn-button:hover {
    border: 2px solid var(--burger-color);
}
.nav-list-link {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.nav-list-link:hover {
    color: var(--button-color);
}

.app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -80px;
    padding-left: 30px;
    padding-right: 30px;
}
.app-content {
    max-width: 566px;
    margin-top: 40px;
}
.app-title {
    color: var(--text-color);
    font-size: 64px;
    margin-bottom: 62px;
}
.app-action {
    font-size: 32px;
    color: var(--button-color);
    margin-bottom: 30px;
}
.app-links {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.app-link {
    display: block;
    height: 40px;
    width: 150px;
}
.app-link-img {
    width: 135px;
    height: 40px;
    transition: 0.3s;
}
.app-link-img:active {
    filter: drop-shadow(0px 4px 40px rgba(249, 50, 9, 0.6));
}
.features {
    margin-top: 139px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.features-title {
    margin-bottom: 71px;
    color: var(--text-color);
    font-size: 36px;
}
.features-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 75px;
}
.features-card {
    width: 380px;
    height: 300px;
    border-radius: 16px;
    background-color: var(--button-text);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.features-image {
    border-radius: 50%;
    border: 1px solid var(--text-color);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.features-name {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 40px;
    transition: 0.3s;
}
.features-text {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--font-inter);
    text-align: center;
    margin-bottom: 100px;
}
.features-card:hover .features-name {
    color: var(--button-color);
}
.features-card:active .features-image {
    background-color: var(--button-color);
    color: var(--bg-color);
    border: none;
}
.sign-up {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
    padding: 0 55px;
}
.first {
    margin-top: 130px;
}
.second {
    margin-bottom: 140px;
}
.sign-up-content {
    width: 600px;
    background-color: var(--button-text);
    border-radius: 16px;
    padding: 80px 55px;
}
.first .title {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 60px;
}
.second .title {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 80px;
}
.first .text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 56px;
    font-family: var(--font-inter);
}
.second .text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-family: var(--font-inter);
}
.sign-up-button {
    width: 194px;
    height: 50px;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    background-color: var(--button-text);
}
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ED816C;
    height: 535px;
}
.action-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 105px;
}
.action-title {
    font-size: 64px;
    color: var(--bg-color);
    margin-bottom: 48px;
}
.action-act {
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 24px;
}
.action-image-wrapper {
    height: 100%    ;
}
.action-image {
    height: 100%;
}
.carousel-wrapper {
    background-color: var(--button-text);
}
.carousel-title {
    padding-top: 164px;
    margin-bottom: 93px;
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
}
.carousel-item-text {
    font-size: 18px;
    color: var(--text-color);
    font-family: var(--font-inter);
    margin-bottom: 20px;
}
.carousel-item-name {
    font-size: 16px;
    font-family: var(--font-inter);
    color: var(--burger-color);
}
.carousel-item {
    width: 500px;
    min-width: 0;
    visibility: visible;
    margin-right: 30px;
    margin-left: 30px;
}
.carousel {
    position: relative;
    padding-bottom: 160px;
    max-width: 1030px;
    margin: 0 auto;
}

.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.slick-arrow{
    position: absolute;
    bottom: 23%;
    z-index: 10;
    border: none;
    background-color: transparent;
    color: var(--burger-color);
}
.slick-arrow i {
    font-size: 10px;
}

.prev-arrow {
    right: 41.5%;
}
.carousel::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    bottom: 25%;
    right: 51.5%;
    background-color: var(--burger-color);
}
.carousel::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    bottom: 25%;
    right: 41.5%;
    background-color: var(--burger-color);
}
.next-arrow {
    left: 41.5%;
}
.contact-form-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 160px;
    padding-bottom: 160px;
}
.contact-text {
    max-width: 596px;
    font-size: 32px;
    color: var(--text-color);
}
.form-wrapper {
    width: 525px;
}
.form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.input-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}
input {
    all: unset;
}
.input {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-bottom:1px solid var(--burger-color);
    font-size: 16px;
    color: var(--burger-color);
    font-family: var(--font-inter);
}
.input::placeholder {
    color:var(--burger-color);
    font-size: 16px;
}
label {
    display: none;
}
#name:focus ~ #labelname {
    display: block;
    color: var(--burger-color);
    font-family: var(--font-inter);
    font-size: 16px;
}
#email:focus ~ #labelemail {
    display: block;
    color: var(--burger-color);
    font-family: var(--font-inter);
    font-size: 16px;
}
#textarea:focus ~ #labelmess {
    display: block;
    color: var(--burger-color);
    font-family: var(--font-inter);
    font-size: 16px;
}
.form-button {
    width: 194px;
    height: 50px;
    color: var(--burger-color);
    border: 2px solid var(--burger-color);
    font-size: 16px;
    background-color: var(--bg-color);
    transition: 0.3s;
}
.form-button:hover {
    color: var(--bg-color);
    border: 2px solid var(--burger-color);
    background-color: var(--burger-color);
}
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer .action-act {
    font-size: 24px;
}
.social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-list-link {
    margin-right: 30px;
    font-size: 39px;
    color: var(--burger-color);
}
.footer-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 80px;
}
.footer-terms >.term:first-child {
    margin-left: 40px;
}
.term-link, .term {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-inter);
    font-size: 18px;
}
.term-link {
    margin-right: 30px;
}
.term > .term-link:last-child {
    margin-right: 0;
}
.language-picker__item {
    background-color: var(--bg-color);
    color: #000000;
    padding: 20px;
}
.language-picker__item:hover {
    background-color: var(--bg-color);
    color: var(--button-color);
}
.language-picker__dropdown {
    background: #FFF8EE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    width: 184px;
}
.language-picker__item[aria-selected=true] {
    background-color: var(--bg-color);
    color: #000000;
    position: relative;
}
.language-picker__item[aria-selected=true]::after {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 1px;
    background-color: #000000;
    top: 80%;
    right: 40%;
}
.menu-icon {
    display: none;
}
.mobile-nav {
    display: none;
}
.fa-instagram {
    background-color: var(--burger-color);
    color: var(--bg-color);
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
.fa-instagram:before {
    content: "\f16d";
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 34px;
}

@media (max-width: 1200px) {
    .action {
        height: 422px;
    }
    .form-wrapper {
        width: 320px;
    }
}
@media (max-width: 992px) {
    .action {
        height: 600px;
    }
    .form-wrapper {
        width: 350px;
        margin-top: 40px;
    }
    .first .title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .first .text {
        margin-bottom: 40px;
    }
    .second .title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .second .text {
        margin-bottom: 40px;
    }
    .sign-up-content {
        padding: 35px 25px;
    }
    .contact-text {
        font-size: 24px;
    }
    .input {
        padding: 10px 0 10px 10px;
    }
    .app {
        flex-direction: column;
        padding: 0;
    }
    .app-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .app-title {
        font-size: 36px;
        margin-bottom: 43px;
        margin-top: 42px;
    }
    .features {
        margin-top: 61px;
    }
    .features-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
    }
    .features-card {
        width: 350px;
        height: 200px;
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .features-image {
        margin-bottom: 10px;
    }
    .features-name {
        margin-bottom: 10px;
    }
    .first {
        margin-top: 90px;
    }
    .sign-up {
        flex-direction: column-reverse;
        padding: 0;
    }
    .sign-up-content {
        width: 350px;
        margin-top: 20px;
    }
    .second {
        flex-direction: column;
        margin-bottom: 0;
    }
    .action {
        flex-direction: column-reverse;
        margin-top: 140px;
    }
    .action-content {
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    .action-title {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 58px;
        padding: 0 28px;
    }
    .action .app-links {
        margin-bottom: 77px;
    }
    .carousel-title {
        padding-top: 90px;
        margin-bottom: 40px;
    }
    .slick-arrow{
        position: absolute;
        bottom: 23%;
        z-index: 10;
        border: none;
        background-color: transparent;
        color: var(--burger-color);
    }
    .slick-arrow i {
        font-size: 10px;
    }
    
    .prev-arrow {
        right: 25.5%;
    }
    .carousel::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 1px;
        bottom: 25%;
        right: 26.5%;
        background-color: var(--burger-color);
    }
    .carousel::before {
        content: "";
        position: absolute;
        width: 70px;
        height: 1px;
        bottom: 25%;
        left: 26.5%;
        background-color: var(--burger-color);
    }
    .next-arrow {
        left: 25.5%;
    }
    .contact-form-wrapper {
        flex-direction: column;
    }
    .contact-form-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 90px;
        padding-bottom: 60px;
    }
    .form {
        align-items: center;
    }
    .form-button {
        width: 350px;
    }
    .footer-app {
        display: none;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer .img-wrapper {
        margin: 0;
        margin-left: 20px;
    }
    .footer .logo-image {
        width: 110px;
        height: 38px;
    }
    .social {
        margin-left: 20px;
        margin-top: 15px;
        width: 100%;
        font-size: 40px;
    }
    .footer-terms {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .term-link {
        font-size: 12px;
        margin-right: 0;
    }
    .term {
        font-size: 12px;
        margin-bottom: 23px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 32px;
        height: 16px;
        cursor: pointer;
    }
    .menu-icon::before, .menu-icon span, .menu-icon::after {
        left: 0;
        position: absolute;
        width: 100%;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: var(--burger-color);
    }
    .menu-icon::before, .menu-icon::after {
        content: "";
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav {
        display: none;
    }
    .button-wrapper {
        display: none;
    }
    .nav-wrapper {
        width: 100%;
    }
    .mobile-nav .nav{
        display: block;
    }
    .mobile-nav .button-wrapper {
        display: block;
    }
    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        overflow: auto;
        transition: all 0.3s ease 0s;
        transform: translate(-100%, 0px);
    }
    .mobile-nav._active {
        transform: translate(0px, 0px);
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list-link {
        font-size: 36px;
    }
    .nav-list-item {
        margin-bottom: 50px;
    }
    .nav-list >li:last-child {
        margin-bottom: 100px;
    }
    .logIn-button {
        width: 350px;
    }
    .button-wrapper {
        margin-top: 145px;
        margin-bottom: 65px;
    }
    .language-picker__button {
        width: 284px;
        border: none;
    }
    .language-picker__label {
        justify-content: space-between;
    }
    em {
        margin-left: -50px;
        font-size: 24px;
    }
    .language-picker__dropdown {
        width: 284px;
    }
    .language-picker__item {
        font-size: 36px;
    }
    .language-picker__item[aria-selected=true]::after {
        content: "";
        position: absolute;
        display: none;
        width: 90px;
        height: 1px;
        background-color: #000000;
        top: 80%;
        right: 40%;
    }
    body._lock {
        overflow: hidden;
    }
    .menu-icon._active span {
        transform: scale(0);
    }
    .menu-icon._active::before {
        top: 40%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu-icon._active::after {
        bottom: 40%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .features-text {
        margin-bottom: 50px;
    }
}   