:root {
    --font-inter: 'Inter', sans-serif;
    --font-coolvetica: 'Coolvetica Rg';
    --bg-color: #FFF8EE;
    --button-color: #F93209;
    --text-color: #1A1A1A;
    --burger-color: #833B2D;
    --button-text: #ffffff;
    --form-color: #a5a5a5;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-coolvetica);
}

.header, .main, .footer {
    background-color: var(--bg-color);
    transition: 0.3s;
}
.header-wrapper, .main-wrapper, .footer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-wrapper, .nav-list-item {
    margin-right: 40px;
}
.log-in-header .img-wrapper {
    margin-left: 43%;
    width: 110px;
    height: 38px;
}
.img-wrapper {
    margin-left: 70px;
    cursor: pointer;
}

.button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-family: var(--font-coolvetica);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logIn-button {
    margin-right: 44px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    z-index: 2;
    transition: 0.3s;
}
.logIn-button:hover {
    border: 2px solid var(--burger-color);
}
.nav-list-link {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.nav-list-link:hover {
    color: var(--button-color);
}

.app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -80px;
    padding-left: 30px;
    padding-right: 30px;
}
.app-content {
    max-width: 566px;
    margin-top: 40px;
}
.app-title {
    color: var(--text-color);
    font-size: 64px;
    margin-bottom: 62px;
}
.app-action {
    font-size: 32px;
    color: var(--button-color);
    margin-bottom: 30px;
}
.app-links {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.app-link {
    display: block;
    height: 40px;
    width: 150px;
}
.app-link-img {
    width: 135px;
    height: 40px;
    transition: 0.3s;
}
.app-link-img:hover {
    filter: drop-shadow(0px 4px 40px rgba(249, 50, 9, 0.6));
}
.features {
    margin-top: 139px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.features-title {
    margin-bottom: 71px;
    color: var(--text-color);
    font-size: 36px;
}
.features-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 75px;
    padding-right: 75px;
}
.features-card {
    width: 380px;
    height: 300px;
    border-radius: 16px;
    background-color: var(--button-text);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.features-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.features-name {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    transition: 0.3s;
}
.features-text {
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--font-inter);
    text-align: center;
    margin-bottom: 42px;
}
.features-card:hover .features-name {
    color: var(--button-color);
}
.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 90px;
    padding: 0 55px;
}
.first {
    margin-top: 130px;
}
.second {
    margin-bottom: 140px;
}
.sign-up-content {
    width: 600px;
    background-color: var(--button-text);
    border-radius: 16px;
    padding: 80px 55px;
}
.first .title {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 60px;
}
.second .title {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 80px;
}
.first .text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 56px;
    font-family: var(--font-inter);
}
.second .text {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-family: var(--font-inter);
}
.sign-up-button {
    width: 194px;
    height: 50px;
    border: 2px solid var(--button-color);
    color: var(--button-color);
    background-color: var(--button-text);
    transition: 0.3s;
}
.sign-up-button:hover {
    background-color: var(--button-color);
    color: var(--button-text);
}
.sign-up-image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-image {
    height: 100%;
}
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ED816C;
    height: 535px;
}
.action-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 105px;
}
.action-title {
    font-size: 64px;
    color: var(--bg-color);
    margin-bottom: 48px;
}
.action-act {
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 24px;
}
.action-image-wrapper {
    height: 100%    ;
}
.action-image {
    height: 100%;
}
.carousel-wrapper {
    background-color: var(--button-text);
}
.carousel-title {
    padding-top: 164px;
    margin-bottom: 93px;
    font-size: 36px;
    color: var(--text-color);
    text-align: center;
}
.carousel-item-text {
    font-size: 18px;
    color: var(--text-color);
    font-family: var(--font-inter);
    margin-bottom: 20px;
}
.carousel-item-name {
    font-size: 16px;
    font-family: var(--font-inter);
    color: var(--burger-color);
}
.carousel-item {
    width: 500px;
    min-width: 0;
    visibility: visible;
    margin-right: 30px;
    margin-left: 30px;
}
.carousel {
    position: relative;
    padding-bottom: 160px;
    max-width: 1030px;
    margin: 0 auto;
}

.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}

.slick-arrow{
    position: absolute;
    bottom: 68px;
    z-index: 10;
    border: none;
    background-color: transparent;
    color: var(--burger-color);
    cursor: pointer;
    transition: 0.3s;
}
.slick-arrow:hover {
    filter: invert(33%) sepia(61%) saturate(6828%) hue-rotate(358deg) brightness(99%) contrast(98%);
}
.slick-arrow i {
    font-size: 10px;
}

.prev-arrow {
    left: 41.5%;
}
.next-arrow {
    right: 41.5%;
}
.contact-form-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 160px;
    padding-bottom: 160px;
}
.contact-text {
    max-width: 596px;
    font-size: 32px;
    color: var(--text-color);
}
.form-wrapper {
    width: 525px;
}
.form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.input-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}
.in-form .input-wrapper {
    align-items: center;
}
input, select, option {
    all: unset;
}
.input {
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-bottom:1px solid var(--burger-color);
    font-size: 16px;
    color: var(--burger-color);
    font-family: var(--font-inter);
    position: relative;
    z-index: 3;
}
.from-in-from-wrapper .input {
    margin-bottom: 20px;
}
.input-wrapper {
	position: relative;
}
.input-wrapper .input{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.input-wrapper .floating-label {
	position: absolute;
	pointer-events: none;
    top: 15px;
    left: 30px;
	transition: 0.3s ease all;
    color:var(--burger-color);
    font-size: 16px;
    font-family: var(--font-inter);
}

input::placeholder{
    opacity:0;
}

.input-wrapper:focus-within > .floating-label,
input:not(:placeholder-shown) + .floating-label{
    top: -10px;
    left: 0;
    font-size: 12px;
}
.input-wrapper:focus-within > .floating-label,
.log-in-form-container input:not(:placeholder-shown) + .floating-label{
    top: -10px;
    left: -30px;
    font-size: 12px;
}


.input-wrapper .input-error {
    border-bottom: 1px solid var(--button-color);
}
.in-input-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}
.for-input-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}
.in-form .in-input-wrapper {
    align-items: center;
}
.for-form .for-input-wrapper {
    align-items: center;
}
.in-input-wrapper {
	position: relative;
}
.for-input-wrapper {
	position: relative;
}
.in-input-wrapper .input{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.for-input-wrapper .input{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.in-input-wrapper .floating-label {
	position: absolute;
	pointer-events: none;
	top: 15px;
	left: 0px;
	transition: 0.3s ease all;
    color:var(--form-color);
    font-size: 16px;
    font-family: var(--font-inter);
}
.for-input-wrapper .floating-label {
	position: absolute;
	pointer-events: none;
	top: 15px;
	left: 0px;
	transition: 0.3s ease all;
    color:var(--form-color);
    font-size: 16px;
    font-family: var(--font-inter);
}
.in-input-wrapper input:focus ~ .floating-label {
	top: -10px;
	left: -30px;
	font-size: 12px;
    color: var(--text-color);
	opacity: 1;
}
.for-input-wrapper input:focus ~ .floating-label {
	top: -10px;
	left: -30px;
	font-size: 12px;
    color: var(--text-color);
	opacity: 1;
}

.in-input-wrapper .input-error {
    border-bottom: 1px solid var(--button-color);
}
.for-input-wrapper .input-error {
    border-bottom: 1px solid var(--button-color);
}
.up-input-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
}
.in-form .up-input-wrapper {
    align-items: center;
}
.up-input-wrapper {
	position: relative;
}
.up-input-wrapper .input{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.up-input-wrapper .floating-label {
	position: absolute;
	pointer-events: none;
	top: 15px;
	left: 0px;
	transition: 0.3s ease all;
    color:var(--form-color);
    font-size: 16px;
    font-family: var(--font-inter);
}
.up-input-wrapper input:focus ~ .floating-label {
	top: -10px;
	left: -30px;
	font-size: 12px;
    color: var(--text-color);
	opacity: 1;
}
.up-input-wrapper input + .floating-label {
	top: 15px;
	left: -30px;
	font-size: 16px;
	opacity: 1;
}
.input-wrapper:focus-within > .floating-label,
.sign-up-form-container input:not(:placeholder-shown) + .floating-label{
    top: -10px;
    left: -30px;
    font-size: 12px;
}
.up-input-wrapper .input-error {
    border-bottom: 1px solid var(--button-color);
}
.ie .floating-label{
	top: -10px;
	left: 0px;
	font-size: 12px;
    color: var(--button-color);
	opacity: 1;
}

.log-in-form-container .ie .floating-label{
	top: -10px;
	left: -30px;
	font-size: 12px;
    color: var(--button-color);
	opacity: 1;
}

.sign-up-form-container .ie .floating-label{
	top: -10px;
	left: -30px;
	font-size: 12px;
    color: var(--button-color);
	opacity: 1;
}








.error-message {
    font-size: 13px;
    color: var(--button-color);
    font-family: var(--font-inter);
    display: none;
    width: 100%;
}
.ie {
    position: relative;
}
.input-wrapper.ie .error-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: -60px;
    bottom: 30px;
}

.log-in-form-container .ie .error-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: -30px;
    bottom: 0px;
}
.sign-up-form-container .ie .error-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: -30px;
    bottom: 0px;
}


.form-button {
    width: 194px;
    height: 50px;
    color: var(--burger-color);
    border: 2px solid var(--burger-color);
    font-size: 16px;
    background-color: var(--bg-color);
    transition: 0.3s;
}
.form-button:hover {
    color: var(--bg-color);
    border: 2px solid var(--burger-color);
    background-color: var(--burger-color);
}
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
}
.footer .action-act {
    font-size: 24px;
}
.social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-list-link {
    margin-right: 30px;
    max-height: 35px;
    color: var(--burger-color);
}
.footer-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 80px;
}
.footer-terms >.term:first-child {
    margin-left: 40px;
}
.term-link, .term {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-inter);
    font-size: 18px;
}
.term-link {
    margin-right: 30px;
}
.term > .term-link:last-child {
    margin-right: 0;
}
.language-picker__item {
    background-color: var(--bg-color);
    color: #000000;
    padding: 20px;
}
.language-picker__item:hover {
    background-color: var(--bg-color);
    color: var(--button-color);
}
.language-picker__dropdown {
    background: #FFF8EE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.language-picker__item[aria-selected=true] {
    background-color: var(--bg-color);
    color: #000000;
    position: relative;
}
.language-picker__item[aria-selected=true]::after {
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 1px;
    background-color: #000000;
    top: 80%;
    right: 40%;
}
.menu-icon {
    display: none;
}
.mobile-nav {
    display: none;
}
.log-in-form-container {
    background-color: var(--button-text);
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: all 0.6s ease;
    transform: translate(200%, 0px);
    z-index: 199;
}
.blur {
    filter: blur(20px) brightness(0.5);
    pointer-events: none;
    user-select: none;
}
.log-in-form-container._log-in-active {
    transform: translate(67%, 0px);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.log-in-form-container .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-header {
    padding-top: 30px;
    margin-bottom: 60px;
}
.log-in-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
.log-in-form-container .input::placeholder {
    color: var(--form-color);
}
.log-in-form {
    width: 320px;
    margin: 0 auto;
}
.in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.log-in-button {
    width: 194px;
    background-color: #d5d5d5;
    color: var(--button-text);
    border: none;
    margin-bottom: 30px;
    margin-top: 50px;
    transition: 0.3s;
}
.for-button {
    width: 194px;
    background-color: #d5d5d5;
    color: var(--button-text);
    border: none;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
    transition: 0.3s;
}
.option:hover {
    color: var(--button-color);
}
.log-in-button:hover {
    background-color: var(--button-color);
    color: var(--button-text);
    border: none;
}
.for-button:hover {
    background-color: var(--button-color);
    color: var(--button-text);
    border: none;
}
.valid-form{
    background-color: var(--button-color);
    color: var(--button-text);
    border: 2px solid var(--button-color);
}
.valid-form:hover {
    border: 2px solid var(--button-color);
    background-color: var(--button-text);
    color: var(--button-color);
}
.log-in-link {
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--font-inter);
    text-decoration: none;
    margin-right: 26px;
    transition: 0.3s;
}
.sign-up-link {
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}
.sign-up-link:hover, .log-in-link:hover {
    color: var(--button-color);
} 
.log-in-questions {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    margin-bottom: 50px;
}
.social-log-in-link {
    text-decoration: none;
    color: var(--burger-color);
    font-size: 35px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--button-text);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.sign-up-menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.log-in-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-up-form-container {
    background-color: var(--button-text);
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: all 0.6s ease;
    transform: translate(200%, 0px);
    z-index: 199;
}
.sign-up-form-container._log-in-active {
    transform: translate(67%, 0px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.sign-up-form-container .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-form-container .input::placeholder {
    color: var(--form-color);
}
.sign-up-form-container .log-in-title {
    max-width: 426px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.select {
    border-bottom: 1px solid var(--text-color);
    font-size: 16px;
    font-family: var(--font-inter);
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 50px;
    color: var(--form-color);
}

.privacy {
    background-color: var(--button-text);
    display: none;
    position: static;
    top: 97px;
    overflow: auto;
    transition: all 0.3s ease;
    transform: translate(0px, -100%);
    z-index: 6;
}
.privacy._privacy-active {
    transform: translate(0px, 0%);
    display: block;
}
.conditions {
    background-color: var(--button-text);
    display: none;
    position: static;
    overflow: auto;
    transition: all 0.3s ease;
    transform: translate(0px, -100%);
    z-index: 6;
}
.conditions._conditions-active {
    transform: translate(0px, 0%);
    display: block;
}
.privacy-wrapper {
    padding: 90px 230px;
}
.privacy-title {
    font-size: 60px;
    margin-bottom: 44px;
}
.privacy-text {
    font-family: var(--font-inter);
    margin-bottom: 10px;
    font-size: 18px;
}
.s {
    margin-bottom: 44px;
}
.privacy-subtitle {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 44px;
}
.privacy-text-subtitle {
    display: block;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-family: var(--font-inter);
}
.privacy-list-item {
    list-style: disc;
    font-size: 18px;
    font-family: var(--font-inter);
    margin-left: 30px;
}
.privacy-list {
    margin-bottom: 24px;
}
.term-link {
    cursor: pointer;
    transition: 0.3s;
}
.term-link:hover {
    color: var(--button-color);
}
.display {
    display: none;
}
.language-picker__item[aria-selected=true]::after {
    background-image: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}
body._lock {
    overflow: hidden;
}
.option:hover {
    background-color: var(--button-text);
    color: var(--button-color);
}
.from-in-from-wrapper {
    margin: 0 auto;
    width: 100%;
}
.language-picker__button[aria-expanded=true] .language-picker__flag::before {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    content: '';
    height: 25px;
    width: 25px;
    margin-right: 0.375rem;
    margin-right: var(--space-xxs);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
}

.country-select {
	margin: 0 auto;
	position: relative;
	width: 250px;
}
.country-select.is-active .country-select__body {
	display: block;}

.country-select__header {
	border: 1px solid #ccc;
	cursor: pointer;
	display: flex;
}
.country-select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}
.country-select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 40px;
	margin-left: auto;
	text-align: center;
	width: 40px;
}

.country-select__body {
	border: 1px solid #cccccc;
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
}
.country-select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
}

.country-select__item:hover {
	background-color: #f2f2f2;
}

.forgot-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 120%;
}
.forgot-link {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}
.forgot-link:hover {
    color: var(--button-color);
}
.log-in-subtitle {
    max-width: 400px;
    font-family: var(--font-inter);
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.forgot-pass-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0px);
    transition: all 0.6s ease;
    z-index: 200;
    background-color: var(--button-text);
}
.send-pass-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0px);
    transition: all 0.6s ease;
    z-index: 200;
    background-color: var(--button-text);
}
.forgot-pass-container._forgot_active {
    top: 0;
    right: 0;
    transform: translate(0%, 0px);
    width: 100%;
    height: 100%;
    display: block;
}
.send-pass-container._send-pass_active {
    top: 0;
    right: 0;
    transform: translate(0%, 0px);
    width: 100%;
    height: 100%;
    display: block;
}
.dont-find-email {
    width: 100%;
    margin-top: 50px;
    font-size: 16px;
    display: none;
    font-family: var(--font-inter);
    color: var(--text-color);
    text-align: center;
}
.send-pass-container .log-in-subtitle {
    margin-top: 123px;
    margin-bottom: 69px;
}
.pass-button {
    margin: 0 auto;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text);
    transition: 0.3s; 
}
.pass-button:hover {
    margin: 0 auto;
    border: 2px solid var(--text-color);
}
.dont-find-email.no-email {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.forgot-pass-container .from-in-from-wrapper {
    height: 100%;
}
.send-pass-container .from-in-from-wrapper {
    height: 100%;
}


@media (max-width: 1375px) {
    .sign-up-image-wrapper {
        max-width: 550px;
    }
    .sign-up-content {
        width: 500px;
        padding: 40px 55px;
    }
}
html {
    scroll-behavior: smooth;
}




@media (max-width: 1200px) {
    .action {
        height: 422px;
    }
    .form-wrapper {
        width: 320px;
    }
    .sign-up-image-wrapper {
        max-width: 500px;
    }
    .sign-up-content {
        width: 500px;
        padding: 20px 55px;
    }
    .first .title {
        margin-bottom: 30px;
    }
}
@media (max-width: 992px) {
    .action {
        height: 600px;
    }
    .form-wrapper {
        width: 340px;
        margin-top: 40px;
    }
    .first .title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .first .text {
        margin-bottom: 40px;
    }
    .second .title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .second .text {
        margin-bottom: 40px;
    }
    .sign-up-content {
        padding: 35px 25px;
    }
    .contact-text {
        font-size: 24px;
    }
    .input {
        padding: 10px 0 10px 0px;
    }
    .app {
        flex-direction: column;
        padding: 0;
    }
    .app-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .app-title {
        font-size: 36px;
        margin-bottom: 43px;
        margin-top: 42px;
    }
    .features {
        margin-top: 61px;
    }
    .features-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 40px;
    }
    .features-card {
        width: 350px;
        height: 200px;
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .features-image {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
    }
    .features-name {
        margin-bottom: 10px;
    }
    .first {
        margin-top: 90px;
    }
    .sign-up {
        flex-direction: column-reverse;
        padding: 0;
    }
    .sign-up-content {
        width: 350px;
        margin-top: 20px;
    }
    .second {
        flex-direction: column;
        margin-bottom: 0;
    }
    .action {
        flex-direction: column-reverse;
        margin-top: 140px;
    }
    .action-content {
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    .action-title {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 58px;
        padding: 0 28px;
    }
    .action .app-links {
        margin-bottom: 77px;
    }
    .carousel-title {
        padding-top: 90px;
        margin-bottom: 40px;
    }
    .slick-arrow{
        position: absolute;
        bottom: 68px;
        z-index: 10;
        border: none;
        background-color: transparent;
        color: var(--burger-color);
    }
    .slick-arrow i {
        font-size: 10px;
    }
    
    .prev-arrow {
        left: 27%;
    }
    .features-cards {
        padding: 0;
    }
    .next-arrow {
        right: 27%;
    }
    .contact-form-wrapper {
        flex-direction: column;
    }
    .contact-form-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 90px;
        padding-bottom: 60px;
    }
    .form {
        align-items: center;
    }
    .form-button {
        width: 340px;
    }
    .footer-app {
        display: none;
    }
    .footer-links {
        flex-direction: column;
        padding-top: 50px;
    }
    .footer .img-wrapper {
        margin: 0;
        margin-left: 20px;
    }
    .footer .logo-image {
        width: 110px;
        height: 38px;
    }
    .social {
        margin-left: 20px;
        margin-top: 15px;
        width: 100%;
        font-size: 40px;
    }
    .footer-terms {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 0px;
    }
    .term-link {
        font-size: 12px;
        margin-right: 0;
    }
    .term {
        font-size: 12px;
        margin-bottom: 23px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-icon {
        z-index: 8;
        display: block;
        position: relative;
        width: 32px;
        height: 16px;
        cursor: pointer;
    }
    .menu-icon::before, .menu-icon span, .menu-icon::after {
        left: 0;
        position: absolute;
        width: 100%;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: var(--burger-color);
    }
    .menu-icon::before, .menu-icon::after {
        content: "";
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav {
        display: none;
    }
    .button-wrapper {
        display: none;
    }
    .nav-wrapper {
        width: 100%;
    }
    .mobile-nav .nav{
        display: block;
    }
    .mobile-nav .button-wrapper {
        display: block;
    }
    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 7;
        height: 100%;
        background-color: var(--bg-color);
        overflow: auto;
        transition: all 0.4s ease;
        transform: translate(-100%, 0px);
    }
    .mobile-nav._active {
        transform: translate(0px, 0px);
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-list-link {
        font-size: 24px;
    }
    .nav-list-item {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .nav-list >li:last-child {
        margin-bottom: 65px;
    }
    .logIn-button {
        width: 350px;
        margin-right: 0;
    }
    .button-wrapper {
        margin-top: 80px;
        margin-bottom: 65px;
    }
    .language-picker__label {
        justify-content: space-between;
        height: 100%;
    }
    .language-picker__label i {
        z-index: 999;
        font-size: 24px;
        transform: rotate(270deg);
    }
    .fa-chevron-down:before {
        z-index: 10;
    }
    em {
        margin-left: -50px;
        font-size: 24px;
    }
    .language-picker__item {
        font-size: 24px;
    }
    .language-picker__item[aria-selected=true]::after {
        content: "";
        position: absolute;
        display: none;
        width: 90px;
        height: 1px;
        background-color: #000000;
        top: 80%;
        right: 40%;
    }
    body._lock {
        overflow: hidden;
    }
    .menu-icon._active span {
        transform: scale(0);
    }
    .menu-icon._active::before {
        top: 45%;
        transform: rotate(-45deg) translate(0px, -45%);
        background-color: #000000;
        height: 20%;
        width: 60%;
        border-radius: 5px;
    }
    .menu-icon._active::after {
        bottom: 45%;
        transform: rotate(45deg) translate(0px, -0%);
        background-color: #000000;
        height: 20%;
        width: 60%;
        border-radius: 5px;
    }
    .features-text {
        margin-bottom: 50px;
    }
    .log-in-form-container._log-in-active {
        transform: translate(0%, 0px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .log-in-form-container {
        background-color: var(--button-text);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        transition: all 0s ease;
        transform: translate(200%, 0px);
        z-index: 199;
    }
    .log-in-header {
        padding-top: 30px;
        margin-bottom: 29px;
    }
    .log-in-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 37px;
    }
    .log-in-form {
        width: 350px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .log-in-button {
        width: 328px;
        margin-bottom: 0;
    }
    .for-button {
        width: 328px;
        padding: 0 16px;
        margin-bottom: 0;
    }
    .in-form {
        margin-bottom: 20px;
    }
    .social-log-in {
        gap: 30px;
    }
    .sign-up-form-container._log-in-active {
        transform: translate(0%, 0px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
    .sign-up-form-container {
        background-color: var(--button-text);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        transition: all 0s ease;
        transform: translate(200%, 0px);
        z-index: 199;
    }
    .privacy {
        top: 101px;
    }
    .privacy-wrapper {
        padding: 60px 24px;
    }
    .privacy-title {
        font-size: 36px;
    }
    .privacy-text {
        font-size: 16px;
    }
    .privacy-subtitle {
        font-size: 20px;
    }
    .privacy-text-subtitle {
        font-size: 18px;
    }
    .privacy-list-item {
        list-style: disc;
        font-size: 16px;
        font-family: var(--font-inter);
        margin-left: 15px;
    }
    .privacy-list {
        margin-bottom: 24px;
    }
    .footer-terms >.term:first-child {
        margin-left: 0px;
    }
    .button-wrapper {
        width: 100%;
    }
    .js {
        width: 100%;
    }
    .language-picker {
        width: 100%;
    }
    .language-picker__button {
        width: 100%;
        border: none;
        padding: 0px 30px;
    }
    .language-picker__item {
        align-items: center;
        justify-content: center;
        box-shadow: none;
        margin-left: 68px;
    }
    .language-picker__list {
        background-color: var(--bg-color);
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 100px;
    }
    .ie .error-message {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0px;
        bottom: 30px;
    }
    .log-in-form-container .ie .error-message {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .sign-up-form-container .ie .error-message {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    .log-in-form-container .ie .floating-label{
        top: -10px;
        left: 0px;
        font-size: 12px;
        color: var(--button-color);
        opacity: 1;
    }
    
    .sign-up-form-container .ie .floating-label{
        top: -10px;
        left: 0px;
        font-size: 12px;
        color: var(--button-color);
        opacity: 1;
    }
    .input-wrapper:focus-within > .floating-label,
    .sign-up-form-container input:not(:placeholder-shown) + .floating-label{
        top: -10px;
        left: 0px;
        font-size: 12px;
    }
    .select {
        padding: 10px;
    }
    .up-input-wrapper input:focus ~ .floating-label {
        top: -10px;
        left: 0px;
        font-size: 12px;
        opacity: 1;
    }
    .up-input-wrapper input + .floating-label {
        top: 15px;
        left: 0px;
        font-size: 16px;
        opacity: 1;
    }
    .in-input-wrapper input:focus ~ .floating-label {
        top: -10px;
        left: 0px;
        font-size: 12px;
        opacity: 1;
    }
    .input-wrapper:focus-within > .floating-label,
    .log-in-form-container input:not(:placeholder-shown) + .floating-label{
        top: -10px;
        left: 0px;
        font-size: 12px;
    }
    .for-input-wrapper input:focus ~ .floating-label {
        top: -10px;
        left: 0px;
        font-size: 12px;
        opacity: 1;
    }
    .input-wrapper.ie .error-message {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        right: 0px;
        bottom: 30px;
    }
    .log-in-header .img-wrapper {
        margin-left: 35%;
        width: 110px;
        height: 38px;
    }
    .img-wrapper {
        margin-left: 15px;
        width: 110px;
        height: 38px;
    }
    .language-picker__button[aria-expanded=true] .language-picker__label i {
        position: absolute;
        top: -55px;
        z-index: 999;
        left: 20px;
        transform: rotate(90deg);
    }
    .display {
        display: none;
    }
    .language-picker__item[aria-selected=true] {
        color: var(--button-color);
    }
    .forgot-link-wrapper {
        width: 100%;
    }
    .send-pass-container .log-in-subtitle {
        margin-top: 83px;
        margin-bottom: 105px;
        padding: 0 40px;
    }
    .pass-button {
        width: 328px;
    }
    .fa-xmark {
        font-size: 32px;
    }
}   